@import '~sass-rem';

$button-background: #0d3282;
$button-color: white;

.container {
  width: rem(200px);
  text-align: center;

  h2 {
    margin-bottom: rem(4px);
  }

  input {
    &:disabled {
      cursor: not-allowed;
    }
  }

  .addButton {
    background: $button-background;
    color: $button-color;
    border: none;
    cursor: pointer;
    margin: rem(10px) 0;
    padding: rem(8px);
    border-radius: rem(4px);
    font-weight: bold;
  }
}
